:root {
  --primary-text-color: white;
  --bg-color: black;
  --footer-text-color: rgb(206, 206, 206);
  --primary-hover-color: #d4a017;
  --footer-text-hover-color: white;
  --bg-badge-color: #d4a017;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fc08tr');
  src:  url('fonts/icomoon.eot?fc08tr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fc08tr') format('truetype'),
    url('fonts/icomoon.woff?fc08tr') format('woff'),
    url('fonts/icomoon.svg?fc08tr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}


body {
  background-color: var(--bg-color);
  font-family: "Courier New", Courier, monospace;
  color: var(--primary-text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  
}

.navbar__header {
  display: flex;
  justify-self: center;
  height: 9rem;
  margin-bottom: 1em;
}

.navbar__navigation {
  display: flex;
  gap: 2.5rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  justify-content: center;
  margin-bottom: 2em;
}

.navbar__navigation a:hover {
  color: var(--primary-hover-color)
}

.navbar__current {
  display: flex;
  justify-content: left;
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--footer-text-color)
}

.navbar__current a {
  text-decoration: underline;
  color: var(--primary-text-color)
}

.shop {
  padding: 1em 3em 1em 3em;
}

.shop__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 100%;
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0.5rem;
  position: relative;
}

.card__title {
  font-size: 1rem;
  text-align: center;
}

.card__title:hover {
  color: var(--primary-hover-color)
}

.card__price {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

.card__badges {
  position: absolute;
  bottom: 0;
  right: 5rem;
  left: 5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 0.5em;
}

.card__badge {
  background-color: var(--bg-badge-color);
  color: var(--primary-text-color);
  font-family: "Courier New", Courier, monospace;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: 1.3rem;
  min-width: max-content;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2.5rem;
  border-top: 0.1rem solid #222222;
  font-size: 0.8rem;
  color: var(--footer-text-color);
}

.social-media-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.3rem;
}

.footer__links {
  display: flex;
  gap: 1.9rem;
  justify-content: center;
}

.footer__link {
  color: var(--footer-text-color);
  text-decoration: underline;
}

.footer__link:hover {
  color: var(--primary-text-color);
}

.footer__warning {
  text-align: center;
}

.footer__copyright {
  text-align: center;
}

.footer__copyright:hover {
  color: var(--primary-text-color);
}

@media (max-width: 780px) {
  .shop__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .navbar__navigation {
    gap: 1.3rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 560px) {
  .shop__grid {
    grid-template-columns: 1fr;
  }

  .navbar__navigation {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    text-align: center;
  }

  .footer__links {
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
  }
}
