body {
  background-color: #0a0a0a;
  background-image:
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 1px, transparent 1px);
  background-size:
    9.375rem 9.375rem,
    18.75rem 18.75rem;
  background-position:
    0 0,
    4.6875rem 4.6875rem;

  font-family: "Courier New", Courier, monospace;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  padding: 1.25rem;
}

.navbar__header {
  display: flex;
  justify-self: center;
  height: 9rem;
  margin-bottom: 1em;
}

.navbar__navigation {
  display: flex;
  gap: 2.5rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  justify-content: center;
  margin-bottom: 2em;
}

.navbar__navigation a:hover {
  color: #d4a017;
}

.navbar__current {
  display: flex;
  justify-content: left;
  padding: 1rem;
  font-size: 0.85rem;
  color: #e6e6e6;
}

.navbar__current a {
  text-decoration: underline;
  color: #e6e6e6;
}

.shop {
  padding: 1em 3em 1em 3em;
}

.shop__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 100%;
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
  padding: 1rem 0.5rem;
  position: relative;
}

.card__title {
  font-size: 0.95rem;
  text-align: center;
}

.card__title:hover {
  color: #d4a017;
}

.card__price {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

.card__badges {
  position: absolute;
  bottom: 0;
  right: 5rem;
  left: 5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 0.5em;
}

.card__badge {
  background-color: #d4a017;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: 1.25rem;
  min-width: max-content;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  padding: 2.5rem;
  border-top: 0.1rem solid #222222;
  font-size: 0.8rem;
  color: #aaaaaa;
}

.footer__social-media-icons {
  display: flex;
  gap: 1.25rem;
  font-size: 1.3rem;
}

.footer__links {
  display: flex;
  gap: 1.875rem;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__link {
  color: #aaaaaa;
  text-decoration: underline;
}

.footer__link:hover {
  color: #ffffff;
}

.footer__warning {
  text-align: center;
}

.footer__copyright {
  color: #aaaaaa;
}

.footer__copyright:hover {
  color: #ffffff;
}

@media (max-width: 780px) {
  .shop__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .navbar__navigation {
    gap: 1.25rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 560px) {
  .shop__grid {
    grid-template-columns: 1fr;
  }

  .navbar__navigation {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    text-align: center;
  }

  .footer__links {
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
  }
}
